/* header */
.navbar-custom {
    transition: padding-top 0.5s, padding-bottom 0.5s; 
    padding-top: 1.5rem;   
    padding-bottom: 1.5rem; 
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
}

.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem; 
}

/* mainpage */
.responsive-image {
    width: 500px;
    height: 310px;
}

.edit-button {
    position: fixed;
    top: 25px;
    right: 10px;
    z-index: 1000;
}

.logout-button {
    position: fixed;
    top: 90px;
    right: 10px;
    z-index: 1000;
}


/* resume (button) */
.delete-btn {
    display: none;
    cursor: pointer;
    opacity: 0.3;  /* 투명도 30% */
}

.add-btn, .edu-add-btn{
    cursor: pointer;
    opacity: 0.3;  /* 투명도 30% */
}

.delete-btn:hover {
    opacity: 1;  /* 마우스 호버시 투명도를 원래대로 복원 */
}

.add-btn:hover, .edu-add-btn:hover{
    opacity: 1;  /* 마우스 호버시 투명도 원래대로 복원 */
}

/* resume (table) */
.highlighted-row {
    outline: 1px solid #b0b0b0; 
    outline-offset: -1px;
    box-shadow: 0px 0px 15px 5px rgba(128,128,128,0.3); 
}

.sortableTable td {
    text-align: center;
}

.no-border,
.no-border th {
    border: none !important;
}

.sortableTable td,
.sortableTable th {
    border: 1px solid #cccccc;
    padding: 10px;
}
.table-secondary :not(.non-secondary) {
    background-color: #E2E3E5;
}

/* project page */
.card-hover-effect {
    transition: all 0.2s ease;
    border-radius: 15px;
}

.card-hover-effect:hover {
    cursor: pointer;
    transform: translateY(-10px);
    border: 1px solid rgb(155, 155, 155); 
}

.card-inner {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.border-bottom-gray {
    border-bottom: 1px solid #dee2e6; 
}

.project-btn-fixed {
    position: fixed; 
    top: 140px;      
    right: 10px;   
}

/* skills page */

.container-custom-width {
    max-width: 57%;
} 

.skills-btn-fixed {
    position: fixed; 
    top: 140px;      
    right: 10px;   
}

.no-hover-container {
    display: inline-block;
}

.no-hover-container:hover .no-hover {
    background-color: transparent !important;
    border-color: rgb(0, 0, 0) !important; 
    color: inherit !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.no-hover {
    background-color: transparent !important;
    border-color: rgba(146, 146, 146, 0.699) !important; 
    color: inherit !important;
    box-shadow: none !important;
    pointer-events: none;
}

.no-hover:hover {
    background-color: transparent !important;
    border-color: rgb(0, 0, 0) !important; 
    color: inherit !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.close-icon {
    font-size: 1rem;  
    pointer-events: auto; 
}

.image-container {
    padding: 8px; 
}
  


/* TechBlog page */
.blog-image-preview {
    border: 1px solid #CED4DA; 
    border-radius: 7px;  
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.blog-image-preview-change   {
    border: 1px solid #CED4DA; 
    border-radius: 7px;  
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: contain; 
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

.plus-icon {
    font-size: 2rem;
    color: #CED4DA;
}

.blog-image-preview:hover {
    border: 2px solid #96969668;
}

.blog-image-preview:hover .plus-icon {
    font-size: 2rem;
    color: #5a5a5a68;
}
