

<script>
    var backendSkills = [<c:forEach var="skill" items="${BackEndSkills}">"${skill}", </c:forEach>];
    var frontendSkills = [<c:forEach var="skill" items="${FrontEndSkills}">"${skill}", </c:forEach>];
    var devopsSkills = [<c:forEach var="skill" items="${DevOpsSkills}">"${skill}", </c:forEach>];
    var etcSkills = [<c:forEach var="skill" items="${ETCSkills}">"${skill}", </c:forEach>];
</script>

window.onload = function() {
    var backendContainer = document.querySelector("#main-container .container:nth-child(2)");
    var frontendContainer = document.querySelector("#main-container .container:nth-child(3)");
    var devopsContainer = document.querySelector("#main-container .container:nth-child(4)");
    var etcContainer = document.querySelector("#main-container .container:nth-child(5)");

    var containers = {
        "backend": backendContainer,
        "frontend": frontendContainer,
        "devops": devopsContainer,
        "etc": etcContainer
    };

    var allSkills = {
        "backend": backendSkills,
        "frontend": frontendSkills,
        "devops": devopsSkills,
        "etc": etcSkills
    };

    for(var category in allSkills) {
        var skills = allSkills[category];
        var container = containers[category];
        
        skills.forEach(function(skill) {
            var imgTag = document.createElement("img");
            imgTag.src = badges[skill]; 
            container.appendChild(imgTag);
        });
    }
}


function modalSetting(section, value) {
    const buttonsDiv = document.getElementById(`${section}Buttons`);

    if (value) {
        const container = document.createElement("div");
        container.className = "no-hover-container";

        // 메인 버튼 생성
        const btn = document.createElement("button");
        btn.className = "btn btn-outline-secondary btn-sm m-1 d-flex align-items-center no-hover";

        // 레이블 추가
        const btnText = document.createElement("span");
        btnText.innerHTML = value;
        btn.appendChild(btnText);

        // x 표시 추가
        const closeIcon = document.createElement("span");
        closeIcon.innerHTML = "&times;";
        closeIcon.className = "close-icon";  // x 표시 스타일 적용
        closeIcon.style.marginLeft = "5px";
        closeIcon.style.cursor = "pointer";
        closeIcon.style.transition = "0.3s";

        closeIcon.onclick = function(event) {
            event.stopPropagation();
            buttonsDiv.removeChild(container);
        };
        btn.appendChild(closeIcon);

        container.appendChild(btn);

        // 컨테이너에 버튼 추가
        buttonsDiv.appendChild(container);
    }
}

document.getElementById('skillsAddForm').addEventListener('show.bs.modal', loadSkillsOnModal);

function loadSkillsOnModal() {
    backendSkills.forEach(skill => modalSetting('backend', skill));
    frontendSkills.forEach(skill => modalSetting('frontend', skill));
    devopsSkills.forEach(skill => modalSetting('devops', skill));
    etcSkills.forEach(skill => modalSetting('etc', skill));
}